@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
	background-color: #1C2833;
	font-family: Asap;
	color: #FFFFFF;
}
header {
	background-color: #BDC3C7;
	position: relative;
}
header .logo {
	width: 150px;
	position: relative;
	left: 70px;
	float: left;
}
header h1 {
	width: 55%;
	margin-top: 2.5%;
	margin-right: 6%;
	font-size: 60px;
	color: #24272E;
	float: right;
}
header nav {
	clear: both;
	background-color: #34495E;
	height: 50px;
	text-align: center;
}
header nav li {
	width: 22%;
	display: inline-block;
	padding: 10px;
}
header nav ul {
	list-style-type: none
}
header nav li a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 27px;
	transition: font-size 0.6s;
}
header nav a:hover {
	color: #808080;
	font-size: 33px;
}
header .nav_break {
	height: 2px;
	background-color: #FFFFFF;
}